In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report
from nltk.tokenize import word_tokenize
from tqdm import tqdm
import nltk
import re

In [5]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\vince\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\vince\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\vince\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\vince\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [6]:
df = pd.read_csv("bbc-news-data.csv", sep='\t')

In [7]:
df['total_content']=df['title'] + ' ' + df['content']
df = df.drop(columns=['filename','title','content'])
df.head()

   category                                      total_content
0  business  Ad sales boost Time Warner profit  Quarterly p...
1  business  Dollar gains on Greenspan speech  The dollar h...
2  business  Yukos unit buyer faces loan claim  The owners ...
3  business  High fuel prices hit BA's profits  British Air...
4  business  Pernod takeover talk lifts Domecq  Shares in U...

In [8]:
df = df.map(lambda line : line.lower())
df.head()

   category                                      total_content
0  business  ad sales boost time warner profit  quarterly p...
1  business  dollar gains on greenspan speech  the dollar h...
2  business  yukos unit buyer faces loan claim  the owners ...
3  business  high fuel prices hit ba's profits  british air...
4  business  pernod takeover talk lifts domecq  shares in u...

Tokenization

In [9]:
# Listes pour stocker les tokens et les variétés
content_token = []
category_token = []

# Parcours des descriptions
for i, text_description in enumerate(tqdm(df["total_content"], desc="Tokenizing")):
    words_token = word_tokenize(text_description)
    content_token.append(words_token)
    category_token.append(df.loc[i, "category"])  # récupère la variété correspondante

# Création du DataFrame final
df_tokenise = pd.DataFrame({
    "total_content": content_token,
    "category": category_token
})

Tokenizing: 100%|██████████| 2225/2225 [00:03<00:00, 568.81it/s]

In [ ]:
import re
import string

def clean_tokens(tokens):
    cleaned = [re.sub(f"[{string.punctuation}0-9]", "", w) for w in tokens]
    # Supprimer les tokens vides après nettoyage
    return [w for w in cleaned if w != ""]

# Appliquer sur la colonne
df_tokenise['total_content_clean'] = df_tokenise['total_content'].apply(clean_tokens)

In [ ]:
df_tokenise.head()

In [11]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

varieties_lemmat = []
description_lemmat = []

for i, list_token in enumerate(tqdm(df_tokenise["total_content"], desc="Lemmatizating")):    
    # loop for stemming each word
    description_lemmat.append([lemmatizer.lemmatize(word) for word in list_token]) 
    
    varieties_lemmat.append(df_tokenise.loc[i, "category"])  # variety
    
# Création du DataFrame final
df_lemmat = pd.DataFrame({
    "total_content": description_lemmat,
    "category": varieties_lemmat
})

Lemmatizating: 100%|██████████| 2225/2225 [00:05<00:00, 409.39it/s]

In [14]:
df_lemmat.head()

                                       total_content  category
0  [ad, sale, boost, time, warner, profit, quarte...  business
1  [dollar, gain, on, greenspan, speech, the, dol...  business
2  [yukos, unit, buyer, face, loan, claim, the, o...  business
3  [high, fuel, price, hit, ba, 's, profit, briti...  business
4  [pernod, takeover, talk, lift, domecq, share, ...  business

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords

#List of stop words
stop_words = set(stopwords.words('english'))

#Delete stopwords
df_lemmat['total_content'] = df_lemmat['total_content'].apply(
    lambda x: [word for word in x if word not in stop_words]
)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vince\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                       total_content  category
0  [ad, sale, boost, time, warner, profit, quarte...  business
1  [dollar, gain, greenspan, speech, dollar, ha, ...  business
2  [yukos, unit, buyer, face, loan, claim, owner,...  business
3  [high, fuel, price, hit, ba, 's, profit, briti...  business
4  [pernod, takeover, talk, lift, domecq, share, ...  business

In [ ]:
df_lemmat.head()

In [ ]:
# Transformer les labels en entiers
le = LabelEncoder()
y = le.fit_transform(df['variety'])

# Split train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# --- Créer et entraîner le modèle Naive Bayes ---
nb = GaussianNB()
nb.fit(X_train, y_train)

# --- Prédiction ---
y_pred = nb.predict(X_test)

# --- Évaluation ---
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred, target_names=le.classes_))

KeyError: 'vector'