In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report
from nltk.tokenize import word_tokenize
from tqdm import tqdm
import nltk

In [ ]:
# nltk.download('punkt')
# nltk.download('wordnet')
# nltk.download('omw-1.4')
# nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\vince\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [3]:
df = pd.read_csv("bbc-news-data.csv", sep='\t')

In [4]:
df['total_content']=df['title'] + ' ' + df['content']
df = df.drop(columns=['filename','title','content'])
df.head()

   category                                      total_content
0  business  Ad sales boost Time Warner profit  Quarterly p...
1  business  Dollar gains on Greenspan speech  The dollar h...
2  business  Yukos unit buyer faces loan claim  The owners ...
3  business  High fuel prices hit BA's profits  British Air...
4  business  Pernod takeover talk lifts Domecq  Shares in U...

In [5]:
df = df.map(lambda line : line.lower())
df.head()

   category                                      total_content
0  business  ad sales boost time warner profit  quarterly p...
1  business  dollar gains on greenspan speech  the dollar h...
2  business  yukos unit buyer faces loan claim  the owners ...
3  business  high fuel prices hit ba's profits  british air...
4  business  pernod takeover talk lifts domecq  shares in u...

Tokenization

In [8]:
# Listes pour stocker les tokens et les variétés
content_token = []
category_token = []

# Parcours des descriptions
for i, text_description in enumerate(tqdm(df["total_content"], desc="Tokenizing")):
    words_token = word_tokenize(text_description)
    content_token.append(words_token)
    category_token.append(df.loc[i, "category"])  # récupère la variété correspondante

# Création du DataFrame final
df_tokenise = pd.DataFrame({
    "total_content": content_token,
    "category": category_token
})

Tokenizing: 100%|██████████| 2225/2225 [00:03<00:00, 598.33it/s]

In [ ]:
# Remplacer les espaces par des virgules et enlever les doubles espaces
df['vector'] = df['vector'].str.replace(r'\s+', ',', regex=True)
# Transformer la colonne 'vector' en tableau numpy
df['vector'] = df['vector'].apply(lambda x: np.array(eval(x)))
X = np.vstack(df['vector'].values)

# Transformer les labels en entiers
le = LabelEncoder()
y = le.fit_transform(df['variety'])

# Split train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# --- Créer et entraîner le modèle Naive Bayes ---
nb = GaussianNB()
nb.fit(X_train, y_train)

# --- Prédiction ---
y_pred = nb.predict(X_test)

# --- Évaluation ---
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred, target_names=le.classes_))

KeyError: 'vector'